@font-face {
    font-family: 'Bebas';
    src: url('./assets/BebasNeue.otf') format('truetype');
}

body{
    margin:0;
    background:#000;
    background-size:cover;
   
}




.fadeIn {
    background:'#000';
    animation: 0.3s fadeIn forwards;
    
  }
  
  .fadeOut {
    background:'#000';
    animation: 0.3s fadeOut forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-20px, 0);
    }
    to {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(-20px, 0);
      opacity: 0;
    }
  }